# ============================================================
# Terraform
# ============================================================

.terraform/
*.tfstate
*.tfstate.*
*.tfplan
plan.out
crash.log
crash.*.log


# ============================================================
# Terraform Variables / Secrets
# ============================================================

*.tfvars
!*.tfvars.example


# ============================================================
# Environment / Secrets
# ============================================================

.env
*.env


# ============================================================
# Python
# ============================================================

__pycache__/
*.pyc
.venv/
venv/


# ============================================================
# IDE
# ============================================================

.vscode/
.idea/


# ============================================================
# OS
# ============================================================

Thumbs.db
.DS_Storenote.txt
